
.order__content--title {  
    font-weight: 700;
    font-size: 47.7115px;
    line-height: 48px;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
    @media (max-width:768px) {
        font-size: 24px;
    }
}
.order-cart-list {
    margin-top: 50px;
    
    .cart__item {
        max-width: 300px;
        @media (max-width:768px) {
            max-width: 200px;
        }
    }
    .cart-item__price {
        position: relative;
        @media (max-width:768px) {
        }
    }
}




.order--delivery {
    .delivery--title {
        font-size: 36.2307px;
        line-height: 144.52%;
        color: black;
        
    }
    .inpit--item{
        display: flex;
        gap: 10px;
        margin-top: 10px;
    }
}

.order--payment{
    margin-top: 40px;
}



// FOrm

.form__wrapper {
    padding-bottom: 30px;
    max-width: 650px;
    margin: 0 auto;
    .form__button{
        text-align: center;
        margin-top: 30px;
        .form--btn{
            font-weight: 400;
            font-size: 22px;
            line-height: 144.52%;
            text-transform: uppercase;
            color: #FFFFFF;
            padding: 20px 40px;
            background: #8BA969;
            border-radius: 16px;
            @media (max-width:768px) {
                font-size: 18px;
                padding: 15px 20px;
             }
        }
    }
    
}
.form__row {
    display: flex;
    gap: 30px;
    margin-top: 20px;
    @media (max-width:768px) {
        flex-wrap: wrap;
    }
}

.input--form {
    border: 2px solid #8BA969;
    border-radius: 15px;
    padding: 10px 35px;
    width: 300px;
    
}